@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Fira+Sans+Condensed:ital,wght@0,200;1,200;1,300;1,400;1,500&family=Telex&display=swap');

:root {
    --background: #dad7cd;
    --primary: #af8a4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Fauna One"; 
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background: rgb(218,215,203);
    background: linear-gradient(0deg, rgba(218,215,203,1) 26%, rgba(218,215,203,1) 39%, rgba(201,168,111,1) 77%);
}

.logo { 
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    }

.carrito {
    height: 40%;
    width: 60px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: var(--background);
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bolder;
}

.navbar-list li {
    background-color: #af8a4b;
    border-radius: 15px;
    color: #dad7cd;
    padding: 14px;
    gap: 5px;
    opacity: 75%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #af8a4b;
}

#hero {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    border-radius: 1rem;
    background-color: #dad7cd;
    
    
}

.heroimage {
    width: 40%;
    align-items: flex-end;
    margin: 0;
}

h2 {
    gap: 10px;
    padding-left: 50px;
    font-size: 40px;
    font-weight: lighter;
}

span {
    font-weight: 600;
    font-style: italic;
}